:root {
  /* -- Sfondi -- */
  --bg-main: #F7FBFB;  /* Bianco freddo */
  --bg-soft: #f0f5f5;  /* Sfondo pagina */

  /* -- Colori Principali -- */
  --first-color: #087886; /* Turchese */
  --second-color: #4AAFB8; /* Azzurro */
  --third-color: #7CCE6B;  /* Verde */
}



body {
  background-color: var(--bg-soft);
  color: var(--first-color);
}



follow-btn.following { background: rgba(0,0,0,0.6); color: white; border: 1px solid white; box-shadow: none; }

/* --- CONTROLLI E TAB --- */
.event-section { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

.controll {
  display: flex; justify-content: space-between; align-items: center;
  margin-bottom: 15px; flex-wrap: wrap; gap: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px;
}

.tabs-left { display: flex; gap: 20px; }
.tabs-left button {
  background: none; border: none; color: #999;
  font-size: 1rem; font-weight: 700; cursor: pointer;
  padding-bottom: 10px; text-transform: uppercase;
  border-bottom: 4px solid transparent;
}
.tabs-left button.active { border-bottom-color: var(--first-color); color: var(--first-color); }

.btn-action {
  padding: 9px 23px;
  background: var(--second-color);
  color: white; border: none; border-radius: 25px;
  font-size: 12px; font-weight: 700; cursor: pointer;
  box-shadow: 0 4px 12px rgba(8, 120, 134, 0.3);
  text-transform: uppercase;
  margin-left:10px;
}

/* --- SEARCH BAR SLIM --- */
.event-search {
  background-color: var(--second-color);
  /* MODIFICA: Padding ridotto drasticamente per renderla sottile */
  padding: 12px 25px; 
  /* MODIFICA: Bordi molto arrotondati per effetto "pillola" */
  border-radius: 20px; 
  display: flex; align-items: center; justify-content: space-between;
  flex-wrap: wrap; gap: 15px; margin-bottom: 20px;
}

.search-title { 
    color: var(--bg-main); 
    font-weight: 700; 
    text-transform: uppercase; 
    margin-right: auto; 
    font-size: 0.95rem; /* Font leggermente più piccolo */
}

.search-inputs { display: flex; gap: 15px; flex-wrap: wrap; align-items: center; }

.input-group { 
    display: flex; 
    flex-direction: column; 
    gap: 2px; /* Ridotto spazio tra label e input */
}

.input-group label { 
    color: var(--bg-main); 
    font-weight: 700; 
    font-size: 0.65rem; /* Label più piccola e discreta */
    margin-left: 8px; /* Allineamento visivo col bordo arrotondato dell'input */
}

.custom-input {
  background-color: rgba(255,255,255,0.7);
  border: none; 
  /* MODIFICA: Input arrotondati e padding ridotto */
  border-radius: 20px; 
  padding: 6px 14px;
  color: var(--first-color); 
  font-weight: 600; 
  font-size: 0.9rem;
  outline: none; 
  min-width: 130px;
}

.event-grid {
  background-color: rgba(255,255,255,0.5); border: 1px solid white;
  padding: 30px; border-radius: 20px; min-height: 300px;
  display: flex; justify-content: center; align-items: center; color: #999;
}