:root {
  /* -- Sfondi -- */
  --bg-main: #F7FBFB; /* Bianco freddo */
  --bg-soft: #E9FBE7; /* Verde chiaro */

  /* -- Colori Principali -- */
  --first-color: #087886; /* Turchese: Testi, Bottoni */
  --second-color: #4AAFB8; /* Azzurro: Link, Icone */
  --third-color: #7CCE6B;  /* Verde: Hover, Successo */
}

.Container{
    height: 800px;
    background: linear-gradient(
        to bottom,
       #E9FBE7,
       #7CCE6B
      );
}