.event-card {
  background-color: #7CCE6B; /* Grigio scuro (tipo Cool Gray) */
  border: 3px solid #087886;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px; /* Larghezza massima per non farla diventare gigante */
  margin: 0 auto;   /* Centra la card se è sola */
  transition: transform 0.2s; /* Effetto carino quando passi sopra col mouse */
}

/* Effetto hover opzionale */
.event-card:hover {
  transform: translateY(-5px);
}

/* --- HEADER DELLA CARD --- */
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.avatar-circle {
  width: 48px;
  height: 48px;
  background-color: #F7FBFB; /* Grigio chiaro */
  border-radius: 50%;
  margin-bottom: 8px;
  border: 3px solid #087886; /* Bordo un po' più scuro */
}

.text-group {
  text-align: center;
  line-height: 1.2;
}

.brand-name {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.brand-role {
  display: block;
  font-size: 11px;
  opacity: 0.8; /* Leggermente trasparente */
}

/* --- TITOLO E DESCRIZIONE --- */
.event-title {
  font-size: 20px;
  font-weight: bold;
  margin: 4px 0;
  text-align: center;
}

.event-desc {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.9;
  padding: 0 10px;
}

/* --- BOX DETTAGLI (QUELLO SCURO) --- */
.event-details {
  width: 100%;
  background-color: rgba(31, 41, 55, 0.3); /* Nero trasparente al 30% */
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Spazio tra icona e testo */
}

/* --- BOTTONE PARTECIPA --- */
.btn-partecipa {
   width: '100%';
    padding: '14px';
    background: 'linear-gradient(135deg, #087886 0%, #78f55f62 150%)';
    color: 'white';
    border: 'none';
    borderRadius: '25px';
    fontSize: '16px';
    fontWeight: 600;
    cursor: 'pointer';
    boxShadow: '0 4px 12px rgba(8, 120, 134, 0.3)';
    transition: 'all 0.3s ease';
}

.btn-partecipa:hover {
  background-color: white;
}