# IDEs
.idea/
*.iml
.vscode/
!.vscode/extensions.json
.DS_Store
*iws
*ipr
org.eclipse.*
.factorypath
.classpath
.project


# Java/Spring
target/
.mvn/
out/
*.class
mvnw
mvnw.cmd

# Node/React
node_modules/
dist/
dist-ssr/
build/
*.local

# Config
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor/Project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
