# IDEs
# IDEs
.idea/
*.iml
.vscode/
!.vscode/extensions.json
.DS_Store
.vscode/
!.vscode/extensions.json
.DS_Store

# Java/Spring
# Java/Spring
target/
.mvn/
out/
.mvn/
out/
*.class

# Node/React
node_modules/
dist/
dist-ssr/
dist-ssr/
build/
*.local
*.local

# Config
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor/Project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?