:root {
  /* -- Sfondi -- */
  --bg-main: #F7FBFB; /* Bianco freddo */
  --bg-soft: #F0F5F5;

  /* -- Colori Principali -- */
  --first-color: #087886; /* Turchese: Testi, Bottoni */
  --second-color: #4AAFB8; /* Azzurro: Link, Icone */
  --third-color: #7CCE6B;  /* Verde: Hover, Successo */
}