name: CI/CD Pipeline

on:
  push:
    branches: [ backend , main]
  pull_request:
    branches: [ backend , main]

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  build-test:
    runs-on: ubuntu-latest
    name: Test with Maven

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: lumen
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: lumen
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Initialize Database
      run: |
        sudo apt-get update
        sudo apt-get install -y postgresql-client
        export PGPASSWORD=lumen
        psql -h localhost -U postgres -d lumen -f db/lumen.sql

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Run tests
      run: mvn clean test